#body:has(#reset) {
  padding: 10vmin;
}

#body:has(#reset) drag-bar>:only-child {
  padding: 5px;
}

#body:has(#reset) form {
  user-select: none;
}

#body:has(#reset) label {
  display: flex;
  align-items: center;
  gap: 10px;
}

#body:has(#reset) hr {
  height: 20px;
  border: none;
}

#body:has(#reset) fieldset {
  display: flex;
  gap: 5vmin;
  border: none;
}

#body:has(#reset) pre {
  font-family: monospace;
}
